/*
 Glow Sans: https://github.com/welai/glow-sans
 version:   v0.93
*/

@font-face {
    font-family: "Glow Sans TC";
    src: url(../fonts/GlowSansTC-Normal-Regular.otf) format("opentype");
    font-weight: 400;
} 

@font-face {
    font-family: "Glow Sans TC";
    src: url(../fonts/GlowSansTC-Normal-Thin.otf) format("opentype");
    font-weight: 100;
} 

@font-face {
    font-family: "Glow Sans TC";
    src: url(../fonts/GlowSansTC-Normal-Thin.otf) format("opentype");
    font-weight: 300;
} 

@font-face {
    font-family: "Glow Sans TC";
    src: url(../fonts/GlowSansTC-Normal-Medium.otf) format("opentype");
    font-weight: 500;
} 

@font-face {
    font-family: "Glow Sans TC";
    src: url(../fonts/GlowSansTC-Normal-Bold.otf) format("opentype");
    font-weight: 700;
} 

@font-face {
    font-family: "Glow Sans TC";
    src: url(../fonts/GlowSansTC-Normal-ExtraBold.otf) format("opentype");
    font-weight: 900;
} 